:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: inherit;
    color: var(--foreground-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --background-color: #242424;
    --foreground-color: white;
    --soft-outline: rgb(65, 65, 65);
    --invert: none;
    --tooltip-background: none;

    --OBR-offset-fore: rgb(230, 230, 238);
    --OBR-offset-back: rgb(49, 49, 65);
    --OBR-dark-blue: rgb(30, 34, 49);
    --OBR-dark-blue-trans: rgba(30, 34, 49, 0.75);
    --OBR-light-blue: rgb(60, 62, 75);
    --OBR-Purple-Select: rgb(153, 102, 255, 0.5);

    --dice-color: #159cc5;
    --BS-red: #A73335;
    --invert: none;
    --invert-click: invert(52%) sepia(81%) saturate(5333%) hue-rotate(331deg) brightness(90%) contrast(88%);
}

@media (prefers-color-scheme: light) {
    :root {
        --invert: brightness(75%);
        --invert-click: none;
        --background-color: #e9e9e9;
        --foreground-color: rgb(49, 49, 49);
        --soft-outline: rgb(196, 196, 196);
        --invert: invert(.65);
        --invert-click: none;
        --tooltip-background: rgb(161, 161, 161);
        --OBR-offset-fore: rgb(44, 44, 46);
        --OBR-offset-back: rgb(210, 210, 223);
        --OBR-dark-blue: rgb(209, 210, 217);
        --OBR-light-blue: rgb(231, 233, 238);
        --OBR-dark-blue-trans: rgba(255, 255, 255, 0.507);
        --dice-color: #56bad8;
        --BS-red: #e07f80;
    }
}

/* NOTIFICATIONS */
#bones-notify-body-app {
    border-radius: 16px;
    background-color: var(--OBR-dark-blue-trans);
    padding: 8px;
    height: 100%;
    backdrop-filter: blur(5px);
}

#diceSender {
    font-weight: bolder;
    font-size: larger;
    padding-left: 4px;
}

#diceContainer {
    display: flex;
}

#diceMessage {
    font-weight: 500;
}

#diceImage {
    padding: 5px 10px 5px 5px;
}

#diceSvg {
    height: 20px;
    width: 20px;
}

.close-container {
    position: relative;
    border: 1px solid #ccc;
}

/* Close button */
.close-notify-button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    font-size: 5px;
    color: #515574;
    /* Adjust the background color as needed */
    padding: 5px;
    border: none;
    border-radius: 5px;
}

/* Styling for the "X" symbol */
.close-button:before {
    content: '\00d7';
    /* Unicode for "X" symbol */
}

.displayResults {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
    transform: translate3d(0, 0, 0);
}

.displayResults .results {
    position: absolute;
    cursor: pointer;
    background: #CCCCCC;
    font-size: 2rem;
    padding: 10px 20px;
    margin: 40px;
    border-radius: 10px;
    transform: scale(1.5);
    opacity: 0;
    pointer-events: all;
    /* transition: all 500ms; pageload issue here */
}

.displayResults .showEffect {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
}

.displayResults .hideEffect {
    transform: scale(.5);
    opacity: 0;
    z-index: 1;
}

.displayResults .hidden {
    pointer-events: none;
}

.displayResults .crit-success {
    color: green;
}

.displayResults .crit-failure {
    color: firebrick;
}

.displayResults .die-dropped {
    text-decoration: line-through;
    opacity: .4;
}

.displayResults .die-rerolled {
    text-decoration: line-through;
    opacity: .4;
}

.displayResults .die-exploded {
    color: green;
}

.displayResults .die-exploded::after {
    content: '!';
    display: 'block';
    color: green;
}

.displayResults .success,
.displayResults .failure,
.displayResults .null {
    position: relative;
    top: 6px;
    width: 32px;
    height: 32px;
}

.displayResults .success {
    fill: #4B8968;
}

.displayResults .failure {
    fill: #A82E2D;
}

.displayResults .null {
    fill: #3E577D;
}

.displayResults .crit-success .success {
    border: 3px solid green;
    border-radius: 50%;
    top: 9px;
}

.displayResults .crit-failure .failure {
    border: 3px solid #A82E2D;
    border-radius: 50%;
    top: 9px;
}